<!Doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="../public/stylesheets/Style.css" rel="stylesheet" type="text/css">
        </head>
        <body>
            <nav class="nav navbar-inverse navbar-fixed-top" style="background-color:#800040;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a><img id="img1" src="../public/images/logo.png" alt="silencio" class="img-responsive"></a>
                    </div>
                </div>
            </nav>
            <h1 class="h1 text-center text-primary">Silencio</h1>
            <h3 class="h3 text-center text-info">CLick On The Buttons Below To Add Data</h3>
            <a href="AdminPanelArrival.html">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:23%;">Arrival</button></a>
            <a href="AdminPanelDeparture.html">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:2%;">Departure</button></a>
            <a href="Offers.html">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:2%;">Offers</button></a>
        </body>
    </html>
