<!Doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/stylesheets/bootstrap.css">
            <script src="/javascripts/jquery.min.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
            <link rel="stylesheet" href="/stylesheets/Style.css">
        </head>
        <body>
            <nav class="nav navbar-inverse navbar-fixed-top" style="background-color:#800040;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a><img id="img1" src="/images/logo.png" alt="silencio" class="img-responsive"></a>
                    </div>
                </div>
            </nav>
            <h1 class="h1 text-center text-primary">Silencio</h1>
            <h3 class="h3 text-center text-info">CLick On The Buttons Below To Add Data</h3>
            <a href="/AdminPanelArrival">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:23%;">Arrival</button></a>
            <a href="/AdminPanelDeparture">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:2%;">Departure</button></a>
            <a href="/Offer">
              <button type="submit" class="btn btn-primary col-xs-2" style="margin-left:2%;">Offers</button></a>
        </body>
    </html>
