h1{
    padding-top:10%;
}

.well
{
    margin-left:20%;
    margin-right:20%;
    margin-top: 4%;
    background-color: #b3d1ff;

}

button{
    margin-left:33%;
    margin-top: 7%;
}

img{
    padding-top:5%;
    padding-bottom:5%;
     width:150px;
     height:70px;
}
