.well
{
    margin-left:20%;
    margin-right:20%;
    margin-top: 4%;
    background-color: #b3d1ff;
    border-radius: 5%;
}
h1{
    padding-top:10%;
    
}

.heading{
    padding-top:0%;
}

button{
    margin-left:25%;
    margin-top: 5%;
}

#img1{
    padding-top:5%;
    padding-bottom:5%;
    width:150px;
    height:70px;
}

#img2{
    padding-top:10%;
    margin-left:46%;
    width:7%;
    height:7%;
}

#img3{
    padding-top:10%;
    margin-left:46%;
    width:7%;
    height:7%;
}

#img4{
    padding-top:10%;
    margin-left:46%;
    width:7%;
    height:7%;
}